<!DOCTYPE html>
<html ng-app="a2.visualizer-app">

<head>
    <%if(url_base){%><base href="<%= url_base %>"/><%}%>
    <% include fragments/header %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% include ng-permissions %>
    <title>Arbimon - <%= project.name %><% if(card && card.name){ %> - <%= card.name %><%} %></title>
</head>

<body ng-controller="MainCtrl">
    <nav class="navbar navbar-default mb-3" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button ng-init="leftCollapsedMenu = true" ng-click="leftCollapsedMenu = !leftCollapsedMenu; rightCollapsedMenu = true" type="button"
                    class="navbar-toggle navbar-toggle-left collapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand navbar-brand-center">
                    <img src="/images/favicon/arbimon-logo.svg" class="mr-3 navbar-logo" alt="Arbimon Logo">
                    <span class="navbar-title">Arbimon</span>
                </a>
                <% if (!user || user.isAnonymousGuest) { %>
                <div ng-click="toggleSearch = !toggleSearch;" class="search-nav-mobile search-nav-mobile-offset">
                    <i class="fa fa-search" style="font-size: 20px; position: relative;"></i>
                </div>
                <a class="navbar-btn btn btn-primary navbar-toggle-right collapse-menu-hide collapsed" href="<%- auth0UniversalLoginUrl %>">
                    Sign In
                </a>
                <% } else { %>
                <div ng-click="toggleSearch = !toggleSearch" class="search-nav-mobile">
                    <i class="fa fa-search" style="font-size: 20px; position: relative;"></i>
                </div>
                <button ng-init="rightCollapsedMenu = true" ng-click="rightCollapsedMenu = !rightCollapsedMenu; leftCollapsedMenu = true" type="button"
                    class="navbar-toggle navbar-toggle-right collapsed fa user-avatar<% if(user.isSuper) { %> swag-super<% } %>"
                    style="background-image:url('<%- user.imageUrl %>');background-color: #808080;">
                </button>
                <% } %>
            </div>
            <div ng-show="toggleSearch" class="navbar-collapse search-input-mobile" style="padding: 10px 15px; position: relative;">
                <search-bar></search-bar>
            </div>
            <div class="navbar-collapse navbar-collapse-menu-rfcx" ng-class="{'collapse': leftCollapsedMenu }">
                <ul class="nav navbar-nav navbar-left hide-tooltip-lg">
                    <li ui-sref-active="active" tooltip="Visualizer" tooltip-placement="bottom">
                        <a ui-sref="visualizer">
                            <i class="fa fa-cubes"></i>
                            <span class="visible-lg-inline visible-xs-inline">Visualizer</span>
                        </a>
                    </li>
                </ul>
                <hr class="navbar-divider-collapse">
                <ul class="nav navbar-nav navbar-right navbar-menu-hide hide-tooltip-lg">
                    <li tooltip-placement="bottom" tooltip="<%=  project.name  %>">
                        <a class="text-overflow" style="cursor: default;">
                            <span><%=  project.name  %></span>
                        </a>
                    </li>
                    <li class="search-input">
                        <search-bar></search-bar>
                    </li>
                    <ul class="nav navbar-nav navbar-menu-hide hide-tooltip-lg mr-0">
                        <% include fragments/user-dropdown %>
                    </ul>
                </ul>
            </div>
            <% if (user && !user.isAnonymousGuest) { %>
            <div class="navbar-collapse navbar-collapse-menu-rfcx" ng-class="{'collapse': rightCollapsedMenu }">
                <ul class="nav navbar-nav navbar-left collapse-menu-hide">
                    <li>
                        <a href="/user-settings">
                            <i class="fa fa-wrench"></i> Account Settings
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <i class="fa fa-sign-out"></i> Sign out
                        </a>
                    </li>
                </ul>
            </div>
            <% } %>
        </div>
    </nav>
    <% if(planAlert == 'expired') { %>
        <div class="alert-bar alert-danger" ng-hide="hideAlertBar" ng-click="hideAlertBar = true">
            Your project data plan have expired, please renew your plan.
            If a new plan is not selected after 30 days of the
            due date, the project will be disable. (click to dismiss)
            <button class="close" ng-click="hideAlertBar = true">
                <i class="fa fa-times"></i>
            </button>
        </div>
    <% } %>
    <div id="body">
        <div ui-view="visualizer" ng-show="$state.includes('visualizer')"></div>
    </div>
</body>

</html>
